:root{
  --primary: #809A6F;
  --secondary: #A25B5B
}

.bg-primary-cus{
  background-color: var(--primary);
}

.bg-secondary{
  color: var(--secondary)
}

.text-main{
  color: white;
}

body{
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.btn-primary{
  background-color:#A25B5B ;
  color: #D5D8B5;
  font-weight: 500;
  border: none;
  padding: 10px 15px;
}

.btn-primary:hover{
  background-color: #CC9C75;
}
.btn-primary:focus{
  background-color:#A25B5B ;
  color: #D5D8B5;
  box-shadow: none;
}
