:root{
  --primary: #1B1A17;
  --secondary: #F0A500
}

.bg-primary-cus{
  background-color: var(--primary);
}

.bg-secondary{
  color: var(--secondary)
}

.text-main{
  color: white;
}

body{
  color: black;
  font-family: 'Montserrat', sans-serif;
}

