#search-card{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-card .col-3{
    padding: 0;
    height: 450px;
}
#search-card .card{
    border: none;
}
/* #search-card .card::before{
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--primary);
} */
/* .card .card-bg{
    top: 0;
    right: 0;
} */

/* .card-bg::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to right,#000,var(--primary));
} */

.card-body{
    background-color: var(--primary);
    /* background-image: linear-gradient(to right,#000,#000,#000,#00000014,#ffffff00,#100a2700); */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 100; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 3rem; */

}
.search-box
{
  position : absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  background : #2F3640;
  height : 40px;
  border-radius : 40px;
  padding : 10px;
  display: flex
}
.search-btn{
    color : var(--secondary);
    float : right;
    width : 35px;
    height : 35px;
    border-radius: 50%;
    background : #2F3640;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition:0.4s;
    /* position: absolute; */
    /* top: translateY(-10px);
    top: 50%;
    right: 5%;
    transform: translate(0px, -50%); */
    transform: translateY(-8px);
}
.search-txt{
  border:none;
  background:none;
  outline:none;
  float:left;
  padding:0;
  color: #fff;
  font-size:16px;
  transition : 0.4s;
  line-height: 40px;
  width : 0px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
 background:white;
}

.card-name{
    font-family: 'Pangolin', cursive;
}
.card-table{
    background-color: #000;
    height: 100%;
}